.auth-controller {
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.auth-controller__logo {
    display: flex;
    margin-bottom: 30px;
    width: 128px;
    height: 128px;
    background-image: url('logo.png');
}

.auth-controller__title {
    margin-bottom: 120px;
    font-family: FuturaPTMedium;
    font-size: 36px;
    font-weight: 500;
    color: #8777e4;
    user-select: none;
}

.auth-controller__panel {
    width: 380px;
    display: flex;
    justify-content: space-between;
}


.auth-controller__button {
    font-family: FuturaPTBook;
    font-size: 24px;
    color: #a8a8a8;
    user-select: none;
    cursor: pointer;
}

.auth-controller__button_active {
    font-family: FuturaPTBook;
    font-size: 24px;
    color: #8777e4;
}