.authorization-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authorization-form__input {
    margin-top: 20px;
    width: 340px;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
    padding: 12px 20px 12px 20px;
}

.authorization-form__root-input {
    border: none;
    font-family: FuturaPTBook;
    font-size: 20px;
    color: #8777e4;
    width: 100%;
    outline: none;
}

.authorization-form__root-input::placeholder {
    color: #dedede;
}

.authorization-form__apply-form {
    margin-top: 70px;
}

.authorization-form__button {
    border-radius: 23px;
    background-color: #8777e4;
    padding: 12px 54px 12px 54px;
    font-family: FuturaPTBook;
    font-size: 18px;
    color: #ffffff;
    user-select: none;
    cursor: pointer;
}